{% extends 'shopify_app/base.html' %}
{% load static %}

{% block main_content %}

<div class="search_div">
    <h4>Soeg efter ordrer</h4>
    <input placeholder="Uh, der er mange!" type="text"></input>
</div>
<div class="table_wrapper">
    <table>
        <thead>
            <tr>
                <th>Ordre nummer</th>
                <th>Oprettet</th>
                <th>Gennemfoert</th>
                <th>Track and trace</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% include 'shopify_app/order_list_item.html' %}
            {% empty %}
            <tr>
                <td>Sorry, no Orders have been imported</td>
            </tr>
            <tr>
                <form method="get" action="{% url 'import_orders' %}">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-default">Import orders</button>
                </form> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
